@font-face {
    font-family: Cirka;
    src: url(font/Cirka.woff);
}
@font-face {
    font-family: Cirka-Light;
    src: url(assets/Cirka-Light.woff);
}
@font-face {
    font-family: Cirka-Bold;
    src: url(css/Cirka-Bold.woff);
}
@font-face {
    font-family: 19;
    src: url(css/19-font.woff);
}
@font-face {
    font-family: Contractica-Black;
    src: url(/css/font/TBCContractica-Black.woff);
}
@font-face {
    font-family: Contractica-Bold;
    src: url(/css/font/TBCContractica-Bold.woff);
}
@font-face {
    font-family: Contractica-Regular;
    src: url(/css/font/TBCContractica-Regular.woff);
}
.font-Contractica {
    font-family: Contractica-Regular !important;
}
.font-Montserrat {
    font-family: Montserrat;
}
.font-Cirka {
    font-family: Cirka;
}

.wellcome {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    /* H1 */
    font-family: Cirka;
    font-size: 64px ;
    font-style: normal;
    font-weight: 700;
    line-height: 68px ; /* 106.25% */
}

.header_menu {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body 14 */
    font-family: Montserrat;
    font-size: 14px ;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.geo_header_menu {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    /* Body 14 */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    line-height: 22px; /* 157.143% */
}
.active-child-menu{
    color: white;
    background-color: #3C515A !important;
}
